<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Interceptores</h1>
        <p>Un interceptor no es más que un servicio común <strong>ng g s interceptors/interceptor.</strong> Se utilizan para modificar las peticiones que salen o entran a nuestra aplicación</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>

<div class="container">
    <div class="card-columns">
        <div class="card" *ngFor="let item of apiResp">
            <div class="card-body">
                <h5 class="card-title"><strong>{{item.id}}</strong>{{item.name}}</h5>
                <p class="card-text">{{item.color}} - {{item.year}}</p>
            </div>
        </div>
    </div>
</div>